upstream app {
{% for server in item.server_app %}
  server {{ server }}:8080;
{% endfor %}
}

server {       
       listen {{ item.listen }};
       listen [::]:{{ item.listen }};
       server_name {{ item.server_lb }};

       location / {
         proxy_pass http://app;
         
         
       }

       root {{ item.root }};
       index {{ item.index | join(' ') }};
}
